body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat Black';
    font-size: 3.5rem;
    line-height: 1.5;   
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    color:white;
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: white;   
    position: relative;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.download {
    font-family: 'Montserrat';
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding : 0 18px;    /* 0 top and bottom   18px left and right   */
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat Light';
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);           
    position: absolute;
    right : 30%;
}

/* ICONS <div style="font-size:1.3em;  size: 4.5rem; color:#DE5953" align="center"> */

.cool-icons {
    color:#DE5953;    
}
.top{
    text-align: center;
    display: inline;
}

.fa-icon:hover {
    /* color:#ef8172;    */
    color:#ff4c68;  
}
.fa-icon {
    color:#ef8172;    
}

/* Features Section  */

#features {
   
    padding : 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    /* margin-top: -400px;
    position: relative; */
}

.feature-box {
    text-align: center;
}

.h3-icons {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    margin : 15px;
}

.p-icons {
    color: #8f8f8f;
}

/* Testimonial Section  */

#testimonials {
    /* padding : 7% 15%; */
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding : 7% 15%;
}
/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo {
    width: 15%;
    margin : 20px 20px 50px;
}

.my-div{
    text-align: center;
    width: 100%; 
    margin: auto;
    
}
.dog-needs {
    margin-top: 6rem;
    text-align: center;
    color:black;
    font-size: 3.5rem;
}

.simple {
    text-align: center;
    margin-top: 2rem;
}

/* Pricing Section */

#pricing {
    padding :100px;
   text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

.h2-pricing{
    color: #fff;
    font-size: 2rem;
}

/*  Footer */
#cta {
    background-color: #ff4c68;
    color: white;   
    position: relative;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
.h3-cta {
    font-size: 3.5rem;
   margin-bottom: 3rem;
}

#footer {
    background-color: #fff;
    color: white;   
    position: relative;
    text-align: center;
    /* padding-top: 5%;
    padding-bottom: 3%; */
    padding: 7% 15%;
    color: #8f8f8f;
}

.social-icons {
    /* margin: 10px; */
    padding: 1.2em;
}
.social-icons {
width: 1%;
margin : 0px 1px;
color: black;
}


/* Media Query - Mobile First */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}
